#site-description{
	color:#fff;
	font-family:Georgia, serif;
	font-weight:normal;
	
	padding-top:25px;
	
	display:block;
	font-size:64px;
	line-height:62px;
	margin-bottom:5px;
	text-shadow:-2px -2px 4px #000;}